---
layout: map
tags: ['ssedas','embed','map']
---

<script type='template' id='mapFiltersTemplate'>
	<li id="<%- item.value %>" class="list-group-item category"><%- itemLabel.value %></li>
</script>

<div id="map-filters-container">
	<ul id="map-filters" class="list-group">
	</ul>
</div>

<script type='template' id='mapTemplate'>
  <div id="map-tiles"></div>
</script>

<div id='map-template'></div>


<script type="javascript">
$('#map-filters-category').on('click', function () {
        console.log('hello');
        //$category = $(this);
        //$category.find('.subcategory').slideToggle(400);
});

</script>