---
layout: map
tags: ['ssedas','embed','map']
---

<script type='template' id='mapFiltersTemplate'>
	<li class="list-group-item category">
		<%- itemLabel.value %>
		<ul id="<%- id %>" class="subcategories">
		</ul>
	</li>
</script>

<script type='template' id='mapTemplate'>
  <div id="map-tiles"></div>
</script>

<script type='template' id='popUpTemplate'>
	<div class="popup-heading">
		<a href="<%- properties.url %>" target="_blank"><%- properties.name %></a>
	</div>
	<% if (properties['image']) { %>
		<p>
			<img src="<%- properties.image %>">
			<br>
			<em><%- properties['image:license'] %> <%- properties['image:credit'] %></em>
		</p>
	<% } %>
	<p>
		<%- properties.description  %>
	</p>
	<p>

		<strong>Address</strong>
		<br>
		<%- properties['addr:housenumber'] %> <%- properties['addr:street'] %><br><%- properties['addr:postcode'] %> <%- properties['addr:city'] %>, <%- properties['addr:country'] %>
	</p>

	<% if ((properties['contact:email']) || (properties['contact:website']) || (properties['contact:phone'])) { %>
	<p>
		<strong>Contact</strong><br>
	 	<% if (properties['contact:email']) { %>
		<a href="mailto:<%- properties['contact:email'] %>"><%- properties['contact:email'] %></a>
		<br>
		<% } %>
	 	<% if (properties['contact:website']) { %>
		<a href="<%- properties['contact:website'] %>"><%- properties['contact:website'] %></a>
		<br>
		<% } %>
	 	<% if (properties['contact:phone']) { %>
		<%- properties['contact:phone'] %>
		<% } %>
	</p>
	<% } %>


	<% if (properties['opening_hours:url']) { %>
		<p>
			<strong>Opening hours</strong><br>
			<a href="<%- properties['opening_hours:url'] %>"><%- properties['opening_hours:url'] %></a>
		</p>
	<% } %>
</script>

<div id='map-template'></div>

<div id="map-filters-container">
	<ul id="map-filters" class="list-group">

	</ul>
</div>

