/*****************
DOM Styles
*****************/
a, a:link {
	color: #455473;
	cursor: pointer;
}
body {
	padding-top: 50px;
	font-family: 'PT Sans', sans-serif;
}
body#map {
	padding-top: 0;
}
section {
	padding: 50px 0;
}
p {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
hr {
	border-color: #6374A6;
}
table {
	thead {
		font-size: 120%;
	}
	td, th {
		padding-bottom: 0.5em;
	}
	td {
		vertical-align: top;
		padding-right: 1em;
	}
	width: 90%;
	margin: auto;
}
footer {
	background: #6374A6;
	text-align: center;
	padding: 10px;
	bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	p {
		font-size: 14px;
		padding: 0;
		margin: 0;
	}
	a, a:hover, a:active, a:visited {
		color: #FFF;
	}
}
.container {
	display: block;
	margin: 0 auto;
	width: 70%;
}

/*****************
Navbar
*****************/
.navbar {
	box-shadow: 0 3px 5px #AAA;
	border: none;
	background: #455473;
	.navbar-toggle {
		background: transparent;
		border: none;
		margin-right: 0;
	}
}
.navbar-inverse .navbar-nav > li > a {
		color: #DDD;
}
.navbar-brand {
	padding: 0;
	margin: 0;
	img {
		top: 0;
		height: 30px;
		margin: 10px 0;
		margin-right: 10px;
	}
}

/*****************
Sections Styles
*****************/

.accent {
	background: #FFF6EB; //#FFF6D1;
}
/* Section Title */
.partial {
	h2 {
		margin-bottom: 25px;
	}
	margin-bottom: 50px;
}

section#landing-map {
	padding: 0;
	margin: 0;
	margin-top: -50px; /* To account for navbar height */
}

section#welcome {
	img {
		display: block;
		margin: 30px auto;
		max-width: 100px;
	}
}

section#maps {
	.map-card {
		background: #FFF;
		box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 2px 0px;
		h1 {
			font-size: 18px;
			background: #333;
			color: #EEE;
			text-transform: uppercase;
			text-shadow: 1px 1px rgba(0,0,0,.3);
			padding: 20px 5px;
			margin: 0;
		}
		p {
			font-size: 14px;
			padding: 10px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
section#about {
	.featured {
		padding: 20px;
		padding-bottom: 10px;
		margin: 15px auto;
		color: #FFF;
		border-radius: 5px;
		a {
			color: #FFF;
			text-decoration: underline;
		}
		p {
			text-align: left;
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 0 auto 20px 0;
		}
	}
}
#about-who-we-are {
	background: #6374A6;
	padding-bottom: 10px;
}
#about-get-involved {
	background: #51A65E;
}

section#activities, section#toolkit, section#feedback {
	a {
		font-weight: 700;
	}
}

section#updates {
	h1, h2, h3, h4, h5, h6 {
		text-align: left;
	}
	p {
		text-align: left;
		font-size: 14px;
	}
}

section#channels {
	text-align: center;
	i {
		margin: 15px auto;
	}
}

.attribution {
	font-size: 11px;
	margin-top: 20px;
}

/****************
Map Styles
****************/

#map {
	height: 100vh;
	width: 100vw;
	/*.leaflet-top .leaflet-control {
		margin-top: 60px; /* To account for navbar height and padding */
	p {
		font-family: 'Open Sans', sans-serif;
	}
}

@yellow-one:	#fcec74;
@yellow-two:	#f7df05;
@yellow-three:	#f2bd0b;
@yellow-four:	#fff030;
@blue:			#95D5D2;
@light-blue:	#1F3050;

#map-filters {
	height: 100vh;
	width: 20%;
	display: inline;
	float: left;
	padding: 50px 0;
	img {
		max-width: 100px;
		display: block;
		margin: auto;
	}
	.list-group {
		color: #000;
		font-size: 12px !important;
		font-weight: 700;
		padding-top: 25px;
	}
	.list-group-item {
		border-top: 1px solid #eee;
		border-bottom: 0px;
		border-left: 0px;
		border-right: 0px;
		border-radius: 0;
	}
	#f1 {
		&:hover, &:active {
			background: @yellow-two;
		}
	}
	#f2 {
		&:hover, &:active {
			background: @yellow-two;
		}
	}
	#f3 {
		&:hover {
			background: @yellow-three;
		}
	}
	#f4 {
		&:hover {
			background: @yellow-four;
		}
	}
	#f5 {
		background: @blue;
		border: 0;
		&:hover {
			background: @blue;
		}
	}
	#f5-sub {
		background: #eee;
		border-top: 0;
		padding: 5px;
		padding-left: 15px;
	}
	#f9 {
		background: @light-blue;
		width: 100%;
		font-weight: 500;
		color: #fff;
		position: absolute;
		bottom: 0;
		padding: 5px;
		padding-left: 15px;
	}
}

#map-filters-2 {
	height: 100%;
	width: 20px;
	display: inline;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

#map-embed {
	height: 100%;
	width: 80%;
	margin-left: 20%;
	display: inline block;
	.leaflet-popup {
		font-family: 'Open Sans', sans-serif;
		min-width: 150px;
		p {
			font-size: 12px;
			text-align: left;
		}
	}
	.leaflet-popup-content-wrapper {
		border-radius: 0;
		padding: 3px;
		min-width: 250px;
	}
	.leaflet-popup-content {
		a {
			font-weight: 500;
			color: #000;
		}
		margin: 5px;
	}
}

/*****************
Page Styles
*****************/
#page-about {
	p {
		text-align: left;
	}
	img {
		display: block;
		margin: 25px auto;
		width: 100%;
	}
}

#page-activities {
	p {
		text-align: left;
	}
}


/*****************
Media Styles
*****************/
@media screen and (min-width: 768px) {
	.row-eq-height {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
	#about-get-involved {
		min-height: 100%;
	}
	#about-who-we-are {
		min-height: 100%;
	}
}

@media screen and (max-width: 980px) {
	.container {
		width: 80%;
	}
	section#maps .map-card h1 {
		font-size: 14px;
	}
	section#maps .map-card p {
		font-size: 12px;
	}
}
@media screen and (max-width: 768px) {
	.featured {
		padding-bottom: 10px;
	}
}
@media screen and (max-width: 800px) {
	.container {
		width: 90%;
	}
}
@media screen and (max-width: 540px) {
	.container {
		width: 95%;
	}
	.map-card {
		display: block;
		margin: 25px auto;
		width: 80%;
	}
}

@media screen and (max-width: 360px) {
	.map-card {
		display: block;
		margin: 25px auto;
		width: 70%;
	}
}
